doctype html
html
    head
        title Express and puggify
        link(rel="stylesheet", href="/static/style.css")
    body
        div#index.container
            H1 Hello #{user}
            p welcome to this crappy page
            h2 Our curent users:
            ul
              each user in users
                .card.card-block
                  h4(class="card-title")= user.firstname + " " + user.lastname
                  p(class="card-text")= "Email: " + user.email

        script(src="/static/jquery.js")
        script(src="/static/custom.js")
